/*Universal Styles*/
header, div, nav, footer {
/*  border: 1px solid black;*/
}

html {
  font-size: 16px;
  font-family: 'Roboto';
}

body {
  line-height: 1.4;
  color: hsl(0, 0%, 15%);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
  color: hsl(0, 0%, 45%);
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  text-align: center;
  margin-bottom: 32px
}

.section {
  display: flex;
  padding-left: 24px;
  position: relative;
  top: 64px;
}

.main {
  width: 60%;
  margin-right: 24px;
}

.main img, .main video {
  width: 100%;
  height: auto;
}

.side {
  width: 40%;
}

.main-article-title, .author {
  margin-top: 32px;
}

.side-article {
   padding: 16px;
   display: flex;
   align-items: center;
}

.side-article:nth-child(odd) {
  background-color: hsl(0, 0%, 95%);
}

.side img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.side a {
  color: dodgerblue;
}

.main, .side {
  padding-top: 32px;
  padding-bottom: 32px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .main, .side {
    width: 100%;
  }

  .section {
    padding-left: 0;
  }
}

/*Header Section*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 24px;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 95%;
}

nav, header div {
  display: flex;
  align-items: center;
}

header img {
  height: 32px;
  width: auto;
}

.logo1 {
  font-size: 24px;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
}

.logo2 {
  font-size: 24px;
  font-weight: 300;
  color: hsl(0, 0%, 60%);

}

header a {
  margin-left: 16px;
}

/*Landing Section*/
#landing-section {
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

.text-container {
  margin-right: 72px;
}

.button {
  text-align: center;
  color: white;
  background-color: hsl(0, 0%, 15%);
  padding: 8px;
  margin-top: 24px;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: hsl(0, 0%, 30%);
}

@media only screen and (max-width: 800px) {
  #landing-section {
    flex-direction: column;
  }

  #landing-section .main {
    padding: 0;
    margin: 0;
  }

  #landing-section .text-container {
    margin-left: 16px;
    margin-right: 16px
  }

}

/*Information Section*/
#information-section .side {
  border-left: 1px solid lightgray;
}

@media only screen and (max-width:800px) {
  #information-section .main {
    display: none;
  }

  .side-article {
    flex-direction: column;
    padding: 0 16px;
    align-items: flex-start;
  }

  .side-article:nth-child(odd) {
    background-color: white;
  }

  .side img {
    width: 100%;
    margin-right: 0;
  }

  .side {
    padding-top: 16px;
  }

  .side-article-text {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .side-article-text-last {
    padding-top: 24px;
    padding-left: 16px;
  }
}

/*Learing Section*/
#learning-section {
  flex-direction: column;
  padding: 32px 72px;
  background-color: hsl(0, 0%, 95%);
}

.allcourses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-container {
  width: 31%;
  height: auto;
  background-color: white;
}

.course-container img {
  width: 100%;
  height: auto;
}

.course-text {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.bottom {
  margin-bottom: 32px;
}

@media only screen and (max-width:800px) {
  #learning-section {
    padding: 32px 16px;
    background-color: white;
    border: 1px solid lightgray;
  }

  #learning-section h3 {
    margin-bottom: 0;
  }

  .allcourses-container {
    flex-direction: column;
  }

  .course-container {
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    margin-bottom: 8px;
  }
}

/*Thesis Section*/
#thesis-section {
  flex-direction: column;
  padding-top: 32px;
}

#thesis-section .center {
  margin-bottom: 0px;
}

.thesis-container {
  display: flex;
}

@media only screen and (max-width:800px) {
  #thesis-section .side {
    display: none;
  }

  #thesis-section .main {
    margin-right: 0;
    padding-top: 16px;
  }
}

/*Footer Section*/
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-right: 24px;
  border-top: 1px solid lightgray;
  color: hsl(0, 0%, 45%);
}

footer a {
  margin-left: 16px;
}

@media only screen and (max-width:800px) {
  footer {
    height: auto;
    padding-bottom: 16px;
  }
}
