/*Universal Styles*/
header, div, nav, footer {
  border: 1px solid black;
}

html {
  font-size: 16px;
  font-family: Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  display: flex;
  padding-left: 24px;
}

.main {
  width: 60%;
  margin-right: 24px;
}

.main img, .main video {
  width: 100%;
  height: auto;
}

.side {
  width: 40%;
}

.side-article {
   padding: 16px;
   display: flex;
   align-items: center;
}

.side img {
  width: 35%;
  height: auto;
}

.main, .side {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Header Section*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 24px;
}

header a {
  margin-left: 16px;
}

header img {
  height: 32px;
  width: auto;
}

nav, header div {
  display: flex;
  align-items: center;
}

/*Landing Section*/
#landing-section {
  align-items: center;
}

/*Information Section*/

/*Learing Section*/
#learning-section {
  flex-direction: column;
  padding: 32px 72px;
}

.allcourses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-container {
  width: 30%;
  height: auto;
}

.course-container img {
  width: 100%;
  height: auto;
}

.course-text {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.bottom {
  margin-bottom: 32px;
}

/*Thesis Section*/

/*Footer Section*/
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
}
