/*Universal Styles*/
header, div, nav, footer {
/*  border: 1px solid black;*/
}

html {
  font-size: 16px;
  font-family: 'Roboto';
}

body {
  line-height: 1.4;
  color: hsl(0, 0%, 15%);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
  color: hsl(0, 0%, 45%);
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  text-align: center;
  margin-bottom: 32px
}

.section {
  display: flex;
  padding-left: 24px;
}

.main {
  width: 60%;
  margin-right: 24px;
}

.main img, .main video {
  width: 100%;
  height: auto;
}

.side {
  width: 40%;
}

.side-article {
   padding: 16px;
   display: flex;
   align-items: center;
}

.side-article:nth-child(odd) {
  background-color: hsl(0, 0%, 95%);
}

.side img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.side a {
  color: dodgerblue;
}

.main, .side {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Header Section*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 24px;
}

nav, header div {
  display: flex;
  align-items: center;
}

header img {
  height: 32px;
  width: auto;
}

.logo1 {
  font-size: 24px;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
}

.logo2 {
  font-size: 24px;
  font-weight: 300;
  color: hsl(0, 0%, 60%);

}

header a {
  margin-left: 16px;
}

/*Landing Section*/
#landing-section {
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

.text-container {
  margin-right: 72px;
}

.button {
  text-align: center;
  color: white;
  background-color: hsl(0, 0%, 15%);
  padding: 8px;
  margin-top: 24px;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: hsl(0, 0%, 30%);
}

/*Information Section*/
#information-section .side {
  border-left: 1px solid lightgray;
}

.main-article-title, .author {
  margin-top: 32px;
}

/*Learing Section*/
#learning-section {
  flex-direction: column;
  padding: 32px 72px;
  background-color: hsl(0, 0%, 95%);
}

.allcourses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-container {
  width: 31%;
  height: auto;
  background-color: white;
}

.course-container img {
  width: 100%;
  height: auto;
}

.course-text {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.bottom {
  margin-bottom: 32px;
}

/*Thesis Section*/
#thesis-section {
  flex-direction: column;
  padding-top: 32px;
}

#thesis-section .center {
  margin-bottom: 0px;
}

.thesis-container {
  display: flex;
}

/*Footer Section*/
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-right: 24px;
  border-top: 1px solid lightgray;
  color: hsl(0, 0%, 45%);
}

footer a {
  margin-left: 16px;
}
